CompileFlags:
  Add:
    - "--include-directory=./include"
    - "--include-directory=../tcanetpp/include"
    - "--include-directory=/usr/include/taglib"
    - "-xc++"
    - "-DUSE_LIBRT"
    - "-DUSE_PTHREADS"
Diagnostics:
  UnusedIncludes: None
